streamlit==1.36.0
python-dotenv==1.0.1
pypdf==4.2.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-text-splitters==0.2.2
langchain-huggingface==0.0.3

sentence-transformers==2.7.0
transformers
torch

faiss-cpu
numpy<2

requests